/* Table of content
  1.General settings
  2.Header
  3.Body
  4.Footer
  5.Media Queries
*/


/* -----------------------------------
 1. Genral Settings
--------------------------------------*/

* {
box-sizing: border-box;
}

body {
  font-family: 'Quicksand', 'Raleway', sans-serif,"微软雅黑";
  line-height: 1.6;
  min-height:100vh;
}

.container {
  margin:auto;
  text-align:center;
}

footer {
  min-height:
}
