/* Table of content
  1.General settings
  2.Header
  3.Main Body
  4.Footer
  5.Media Queries
*/


/* -----------------------------------
 1. Genral Settings
--------------------------------------*/

* {
box-sizing: border-box;
}

body {
  font-family: 'Quicksand', 'Raleway', sans-serif,"微软雅黑";
  line-height: 1.6;
  min-height:100vh;
  margin-top:0;
}

.container {
  margin:auto;
  max-width:90%;
}

header {
  min-width:100%;
  background-color:slategrey;
}

h1,h2 {
  text-align: center;
}

/* -----------------------------------
 2. Header
--------------------------------------*/

.header_title {
  margin-top:0;  /*to eliminate blank on top of page*/
  color:#fff;
  padding-top:1em;
  padding-bottom:1em;
}

li {
  list-style: none;
  display:block;
}

fieldset {
  border:none; /*to eliminate the default border*/
  padding-left: 0; /*to fill the content to edge*/
  padding-right: 0; /*to fill the content to edge*/
  margin-left: 0; /*to fill the content to edge*/
  margin-right: 0; /*to fill the content to edge*/
}

label {
  text-align: left;
  color: slategrey;
  display:block;
}

legend {
  text-align: left;
  font-weight:600;
  font-size:26px;
}

input {
  display:block;
  text-align:left;
  padding:15px;
  width:100%;
  margin-top:4px;
  margin-bottom:4px;
  height: 40px;
  background-color: rgb(237, 241, 247);
  border:none;
  border-radius: 4px;
}

option {
  padding-top:0;
}

::placeholder {
  text-align:right;
}

/* -----------------------------------
 3. Main Body
--------------------------------------*/
.instruction {
  color:slategrey;
  font-style:italic;
  padding-bottom: 3em;
  border-bottom:4px black solid;
  margin-bottom:4px; /*to narrow the gap between the 2 botttom lines*/
  text-align: center;
}

.hr_line {
  border-top:solid 1px black;
}

.state_selector {
  padding-left: 15px;
  padding-right: 15px;
  width:100%;
  height: 40px;
  background-color: rgb(237, 241, 247);
  border:none;
  border-radius: 4px;
  margin-top:4px;
  margin-bottom:4px;
}

.second_fieldset {
  margin-top:2em;
}

.second_fieldset label {
  display:inline-block;
  text-align: left;
  margin-bottom:14px;
}


input[type="checkbox"],
input[type="radio"] {
  display: inline-block;
  width:18px;
  text-align: left;
  height:25px;
  margin-top:0;
  margin-bottom:14px;
  margin-right: 20px;
  vertical-align: bottom;
}

textarea {
  width:100%;
  border:none;
  border-radius: 10px;
  background-color: rgb(237, 241, 247);
  padding:14px;
}

button {
  color: white;
  font-weight:600;
  font-size: 20px;
  width:100%;
  border-radius: 4px;
  background-color:rgb(61, 165, 146);
  height: 50px;
  border: 0;
  box-shadow: 0 -1px rgba(255,255,255,0.1) inset;
}

/* -----------------------------------
 4. Main Footer
--------------------------------------*/

.main_footer {
  text-align:center;
}

.owner_email {
  margin-bottom:20px;
}


/* -----------------------------------
 5. Media Querie
--------------------------------------*/
@media(min-width:768px) {
  .container {
    max-width:50%;
  }

  .flex_container {
    display:flex;
    flex-direction: row;
  }

  .item {
    padding-top:15px;
    padding-bottom:15px;
  }

  .item1 {
    width:35%;  /*tried to use flex-grow that item:1, item2:5, but it didnt work even it shows excuted in chrome devp tool*/
  }

  .item2 {
    width: 65%;
  }

  input[type="checkbox"],
  input[type="radio"] {
    display: inline-block;
    width:18px;
    text-align: left;
    height:25px;
    padding:15px;
  }

}
